In [2]:
import pandas as pd
url =  'https://estadisticas.bcrp.gob.pe/estadisticas/series/metadata'

metadata = pd.read_csv(url, delimiter=';', encoding='latin-1')

metadata.head(2)

,Código de serie,Categoría de serie,Grupo de serie,Nombre de serie,Fuente,Frecuencia,Fecha de creación,Grupo de publicación,Área que publica,Fecha de actualización,Fecha de inicio,Fecha de fin,Memo,Unnamed: 13
0,PN00001MM,Sociedades creadoras de depósito,Cuentas monetarias de las sociedades creadoras...,Activos Externos Netos de Corto Plazo (millone...,BCRP,Mensual,2022-03-24,Sistema financiero y empresas bancarias y expe...,Departamento de Estadísticas Monetarias,2024-11-29,Ene-1992,Oct-2024,NaN,NaN
1,PN00002MM,Sociedades creadoras de depósito,Cuentas monetarias de las sociedades creadoras...,Activos Externos Netos de Corto Plazo (millone...,BCRP,Mensual,2022-03-24,Sistema financiero y empresas bancarias y expe...,Departamento de Estadísticas Monetarias,2024-11-29,Ene-1992,Oct-2024,NaN,NaN

In [10]:
# Como esta estructurado los datos con codigo y frecuencia

# Crear una copia explícita de las columnas seleccionadas
freq = metadata[['Código de serie', 'Frecuencia']].copy()

# Renombrar columnas
freq.columns = ['cod', 'freq']

# Asegurarse de que los datos en 'cod' sean cadenas
freq['cod'] = freq['cod'].astype(str)

# Usar .loc para modificar columnas y evitar SettingWithCopyWarning
freq.loc[:, 'last_string'] = freq['cod'].apply(lambda x: x[-1] if len(x) > 0 else "")
freq.loc[:, 'first_string'] = freq['cod'].apply(lambda x: x[0] if len(x) > 0 else "")

# Verificar el resultado
freq.head()

         cod     freq last_string first_string
0  PN00001MM  Mensual           M            P
1  PN00002MM  Mensual           M            P
2  PN00003MM  Mensual           M            P
3  PN00004MM  Mensual           M            P
4  PN00005MM  Mensual           M            P

In [11]:
freq[['freq', 'last_string']].drop_duplicates()

            freq last_string
0        Mensual           M
1917  Trimestral           Q
2850      Diaria           D
2940       Anual           A